@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Inconsolata:wght@300;400&family=Lobster&family=Montserrat:wght@200;400&family=PT+Sans+Narrow&family=Poppins&family=Raleway&family=Source+Sans+Pro:wght@300&family=Spirax&display=swap');

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.aboutWrapper{
    margin: 130px 80px;
    align-items: center;
   
}

.aboutContent{
    font-size: 18px;
    font-family: 'Inconsolata', sans-serif;
    line-height: 1.7;
    font-weight: 500;
}

@media(max-width: 748px){
    h1{
        font-size: 22px;
    }

    .aboutWrapper {
            margin: 60px 40px;
        }

    .aboutContent{
        font-size: 16px;
    }    
}
