@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Inconsolata:wght@300;400&family=Lobster&family=Montserrat:wght@200;400&family=PT+Sans+Narrow&family=Poppins&family=Raleway&family=Source+Sans+Pro:wght@300&family=Spirax&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Inconsolata:wght@300;400&family=Lobster&family=Montserrat:wght@200;400&family=PT+Sans+Narrow&family=Poppins&family=Quicksand:wght@400;500&family=Raleway&family=Source+Sans+Pro:wght@300&family=Spirax&display=swap');

.aboutUsTitle {
    text-align: center;
    margin-bottom: 20px;
    color: #e9c46a;
    font-family: 'Courgette';
}

.aboutUsWrapper{
    padding: 100px;
    align-items: center;
    background-image: url('../img/wallpaper-background-several-transparent-circles_58702-7112.avif');}

.aboutUsContent{
    font-size: 18px;
    font-family: 'Inconsolata', sans-serif;
    line-height: 1.7;
    font-weight: 500;
}

@media(max-width: 748px){
    .aboutUsTitle{
        font-size: 24px;
    }

    .aboutUsWrapper {
        padding: 30px;
        }

    .aboutUsContent{
        font-size: 15px;
        font-weight: 500;
    }    
}
