@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Inconsolata:wght@300;400&family=Lobster&family=Montserrat:wght@200;400&family=PT+Sans+Narrow&family=Poppins&family=Quicksand:wght@400;500&family=Raleway&family=Source+Sans+Pro:wght@300&family=Spirax&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Crimson+Text:wght@400;700&family=Inconsolata:wght@300;400&family=Lobster&family=Montserrat:wght@200;400&family=PT+Sans+Narrow&family=Pacifico&family=Poppins&family=Quicksand:wght@400;500&family=Raleway&family=Source+Sans+Pro:wght@300&family=Spirax&display=swap');

.contactImg{
    height: 330px;
    width: 100%;
}

.contacTitle{
   color: #e9c46a;
   margin: 40px auto;
   font-family: 'Courgette';
   font-weight: 300px;
}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}

.rafaInfo,
.nateInfo{
    margin: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    min-width: 300px;
    min-height: 300px;
    justify-content: center;
    padding: 25px;   
}

.rafaInfo:hover,
.nateInfo:hover,
.github:hover,
.linkdin:hover,
.twitter:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.github,
.linkdin,
.twitter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.githubLink,
.linkedinLink,
.twitterLink{
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    margin-left: 5px;
    color: black;
    font-family: 'Inconsolata', sans-serif;
}

.contactContent{
    display: flex;
    justify-content: center;
}


