.menuIcons {
    /* display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    max-width: fit-content; */
    /* padding: 13px 18px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1); */
}
/* 
  .dropDownMenuWrapper {
      position: relative;
      height: 50px;
  } */
/* 
  .menuIcons {
      position: absolute;
      top: 0;
      left: 0;
  }


  .dropDownMenu a {
      display: block;
      margin-bottom: 5px;
      text-decoration: none;
      color: black;
  }

  .dropDownMenu a:hover {
      color: white;
      background-color: black;
  } */

        /* .dropDownMenu {
            position: absolute;
            top: 0;
            right: 0;
            background-color: white;
            border: 1px solid black;
            padding: 10px;
        } */