@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Courgette&family=Crimson+Text:wght@400;700&family=Inconsolata:wght@300;400&family=Lobster&family=Mate+SC&family=Montserrat:wght@200;400&family=PT+Sans+Narrow&family=Pacifico&family=Poppins&family=Quicksand:wght@400;500&family=Raleway&family=Source+Sans+Pro:wght@300&family=Spirax&display=swap');

.layoutWrapper {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    position: sticky;
    background-color: #002B5B;
}

.headerCenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin-left: 30%;
}

.logoLink,
.homeLink,
.aboutLink,
.agenciesLink,
.contactLink {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 21px;
    font-family: 'Mate SC', sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.homeLink:hover,
.aboutLink:hover,
.agenciesLink:hover,
.contactLink:hover {
    transform: scale(1.05);
    background-color: #e9c46a;
    padding: 2px 10px;
    border-radius: 15px;
}

.footer {
    display: flex;
    border-top: 1px solid lightgray;
    padding: 30px 20px;
    background-color: white;
    text-align: center;
    justify-content: space-between;
    background-color: #159895;
    margin-top: auto;
}

.footerLeft {
    display: flex;
    padding: 5px;
    font-size: 14px;
}

.footerRight {
    display: flex;
    align-items: center;
    width: 15vw;
    margin-right: 80px;
}

.footerRight p {
    padding: 0 3px;
    font-weight: bold;
}

.headerRight{
    display: flex;
    justify-content: center ;
    align-items: center;
}