@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Courgette&family=Crimson+Text:wght@400;700&family=Inconsolata:wght@300;400&family=Lobster&family=Mate+SC&family=Montserrat:wght@200;400&family=PT+Sans+Narrow&family=Pacifico&family=Poppins&family=Quicksand:wght@400;500&family=Raleway&family=Source+Sans+Pro:wght@300&family=Spirax&display=swap');

.layoutWrapper {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: fit-content;
    text-align: center;
    position: sticky;
    background-color: #e9c46a;
    border-radius: 10px;
}

.headerCenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.homeLink,
.aboutLink,
.agenciesLink,
.contactLink {
    text-decoration: none;
    color: Black;
    font-weight: 600;
    font-size: 25px;
    font-family: 'Mate SC', sans-serif;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    padding: 23px;
}

.homeLink:hover,
.aboutLink:hover,
.agenciesLink:hover,
.contactLink:hover {
    transform: scale(1.05);
    /* background-color: orange;
    padding: 2px 8px;
    border-radius: 15px; */
}

.footer {
    display: flex;
    border-top: 1px solid lightgray;
    padding: 30px 20px;
    background-color: white;
    text-align: center;
    justify-content: space-between;
    background-color: #159895;
    margin-top: auto;
}

.footerLeft {
    display: flex;
    padding: 5px;
    font-size: 14px;
}

.footerRight {
    display: flex;
    align-items: center;
    width: 15vw;
    margin-right: 80px;
}

.footerRight p {
    padding: 0 3px;
    font-weight: bold;
}

.headerRight{
    display: flex;
    justify-content: center ;
    align-items: center;
}

.logoImg{
    width: 250px;
    height:170px;
}

.headerWrapper{
    display: flex;
    justify-content: space-around;
        align-items: center;
}
