.modalWrapper {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    width: fit-content;
    height: fit-content;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    display: inline;
    max-height: 80%;
    overflow: auto;

}

.formTitle {
    text-align: center;
    font-size: 30px;
    margin: 30px auto;
    font-family: 'Mate SC', sans-serif;
}

.postTitle {
    font-family: 'Inconsolata', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-color: lightseagreen;
}

.postDescription {
    font-family: 'Inconsolata', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-color: lightseagreen;
    text-align: left;
    margin-bottom: 3px;
}


.formUserInput {
    padding: 10px 70px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 17px;
    outline-color: lightseagreen;
    border-color: black;


}

.descriptionInput {
    padding: 150px 70px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 17px;
    outline-color: lightseagreen;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fileInputLabel {
    display: flex;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    background-color: aqua;
    width: fit-content;
    transition: all 0.3s ease-in-out;
}

.fileInputLabel:hover{
    transform: scale(1.05);
}

.imgContent {
    font-size: 18px;
    color: lightseagreen;
    font-weight: 600;
}

.imgFormPost {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10x auto;
}


.postFormBtn {
    background-color: #e9c46a;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    margin: 30px auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    display: flex;
    text-decoration: none;
    font-family: 'Inconsolata', sans-serif;
}

.postFormBtn:hover {
    transform: scale(1.05);
}

.closeBtn {
    font-size: 18px;
    padding-top: 10px;
    color: black;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    background: none;
    display: flex;
    margin-right: 0;
    margin-left: auto;
}

.closeBtn:hover {
    color: grey;
}