* {
  margin: 0;
}

.app {
  max-width: 1250px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* background-image: url('../src/img/gradient-watercolor-background_87374-75.avif');
  background-size: 100vw 100vh;
  background-position: center;
  background-repeat: no-repeat; */
}