* {
  margin: 0;
}

.app {
  max-width: 1250px;
  /* justify-content: center;
  align-items: center;
  margin: 0 auto; */
  background-image: url('/Users/rafaelirangel/Library/sandbox/portfolio/aupair-blog/src/img/gradient-watercolor-background_87374-75.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}